@import 'mixins.scss';
.jam-item-wrapper {
    @media (min-width: 370px) {
        margin: 2em;
        width: 80vw;
        height: 100%;
    }
    @media (min-width: 800px) {
        @include flex-center(column, center, center);
        width: 60vw;
        height: 100%;
    }
    padding: 1.5em 3.5em 5.5em;
    font-size: 0.4em;
    border: 2px solid #E2FADB;
    transition: all 2s;
    &:hover {
        background-color: #6290C8;
        transition: all 1s;
    }
}

.jam-item {
    @media (min-width: 370px) {
        // width: 90%;
        // height: 100%;
    }
    @media (min-width: 800px) {
        width: 100%;
        height: 200px;
    }
}

.jam-item-text {
    @include flex-center(column, center, center);
    &.jam-item-text>div {
        padding: 10px;
    }
}

.item-song {
    width: 100%;
}

.jam-item-pic-src {
    @media (max-width: 570px) {
        width: 250px;
        padding: 10%;
    }
    padding-top: 15%;
    width: 350px;
}

.jam-likes {
    text-align: right;
    padding-bottom: 35px;
}

.jam-feed-like {
    text-align: right;
    padding-bottom: 35px;
    font-size: 1em;
}

.jam-item-artist {
    font-size: 1.4em;
}

.jam-item-song {
    font-size: 0.6em;
}

.comment-form-wrapper {
    padding: 1%;
    // background: #383838;
}

.comment-form-input {
    width: 90%;
    height: 25px;
}

.form> :last-child {
    margin-top: 1em;
    height: 25px;
    // padding: 1%;
}

.comment-form-button {
    @media (min-width: 370px) {
        margin-left: 1%;
    }
    // margin-left: 5%;
}